<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}"lang="en">
<head>
    <title>Home</title>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#delete').on('click', function () {
                if (confirm("Are you sure you want to delete this resource?")) {
                    $.ajax({
                        method: 'DELETE',
                    }).done(function () {
                        console.log('deleted');
                        // window.location.reload(true)
                        window.location.replace("/admins");
                    });
                }
            });
        })

    </script>
</head>
<body>

<div layout:fragment="content">
    <div class="container main-content">
        <div class="row">
            <div class="col-7">
                <h3>Admins</h3>
            </div>
            <div class="col">
                <a th:href="@{/admins/add}">Add New Admin</a>
            </div>
        </div>
        <table id="table" class="table table-striped table-sm">
            <thead>
                <th scope="col">Username</th>
                <th scope="col">Phone Number</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Gender</th>
            </thead>
            <tbody>
                <tr th:each="admin : ${admins}">
                    <th scope="row"><a th:href="@{'/admins/' + ${admin.id}}" th:text="${admin.userName}"></a></th>
                    <td th:text="${admin.phoneNumber}"></td>
                    <td th:text="${admin.firstName}"></td>
                    <td th:text="${admin.lastName}"></td>
                    <td th:text="${admin.gender}"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script th:src="@{/js/table.js}"></script>
    <script th:src="@{/js/quotes.js}"></script>
    <script th:src="@{/js/check.js}"></script>
</div>
</body>
</html>