<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" lang="en">
<head>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <title>Home</title>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#delete').on('click', function () {
                if (confirm("Are you sure you want to delete this resource?")) {
                    $.ajax({
                        method: 'DELETE',
                    }).done(function () {
                        console.log('deleted');
                        // window.location.reload(true)
                        window.location.replace("/guests");
                    });
                }
            });
        })

    </script>
    <script>
        $(document).ready(function() {

            $('#emailAddress').focusout(function(){

                $('#emailAddress').filter(function(){
                    var emil=$('#emailAddress').val();
                    var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
                    if( !emailReg.test( emil ) ) {
                        alert('Please enter valid email');
                        $('#emailAddress').val("");
                    } else {
                        alert('Thank you for your valid email');
                    }
                })
            });
        });
    </script>
    <script>
        $(document).ready(function() {

            $('#confirmPassword').focusout(function(){

                $('#confirmPassword, #password').filter(function(){
                    var pass=$('#confirmPassword').val();
                    var confirm = $('#password').val();

                    if( pass.valueOf() == confirm.valueOf() )  {
                        alert('Thank you for your valid password');
                    } else {
                        alert('Please enter valid password');
                        $('#confirmPassword').val("");
                    }
                })
            });
        });
    </script>
    <script>
        (function ($) {
            $.fn.inputFilter = function (inputFilter) {
                return this.on("input keydown keyup mousedown mouseup select contextmenu drop", function () {
                    if (inputFilter(this.value)) {
                        this.oldValue = this.value;
                        this.oldSelectionStart = this.selectionStart;
                        this.oldSelectionEnd = this.selectionEnd;
                    } else if (this.hasOwnProperty("oldValue")) {
                        this.value = this.oldValue;
                        this.setSelectionRange(this.oldSelectionStart, this.oldSelectionEnd);
                    }
                });
            };
        }(jQuery));

        $(document).ready(function () {
            // Restrict input to digits by using a regular expression filter.
            $("#phoneNumber").inputFilter(function (value) {
                return /^\d*$/.test(value);
            });
        });
    </script>
    <script>
        window.onload = function () {
            var recaptcha = document.forms.item("g-recaptcha-response");
            recaptcha.required = true;
            recaptcha.oninvalid = function (e) {
                alert("Please complete the captcha");
            }
        }
    </script>
</head>
<body>


<div layout:fragment="content">
    <div class="container main-content">
        <h3>Guest View</h3>
        <form method="post" action="#" th:action="${guest != null} ? '/guests/'+${guest.id} : '/guests'"
              th:object="${guestModel}">

            <div class="form-row">
                <div class="col">
                    <input
                            th:id="userName"
                            th:name="userName" type="text" class="form-control" placeholder="User Name"
                            required="required" maxlength="10"
                            th:value="${guest != null} ? ${guest.userName}"/>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <input
                            th:id="firstName"
                            th:name="firstName" type="text" class="form-control" placeholder="First Name"
                            required="required" maxlength="10"
                            th:value="${guest != null} ? ${guest.firstName}"/>
                </div>
                <div class="col">
                    <input th:id="lastName"
                           th:name="lastName" type="text" class="form-control" placeholder="Last Name"
                           required="required" maxlength="10"
                           th:value="${guest != null} ? ${guest.lastName}"/>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <input th:id="emailAddress" th:name="emailAddress" type="text" minlength="5" maxlength="20"
                           class="form-control" placeholder="Email Address"
                           th:value="${guest != null} ? ${guest.emailAddress}"/>
                </div>
                <div class="col">
                    <input th:id="phoneNumber" th:name="phoneNumber" type="text" class="form-control" maxlength="10"
                           placeholder="Phone Number" th:value="${guest != null} ? ${guest.phoneNumber}"/>
                </div>
            </div>
            <div class="form-row">
                <div class="col-7">
                    <input th:id="address" th:name="address" type="text" class="form-control" placeholder="Address"
                           maxlength="50" th:value="${guest != null} ? ${guest.address}"/>
                </div>
                <div class="col">
                    <input th:id="country" th:name="country" type="text" class="form-control" placeholder="Country"
                           maxlength="10" th:value="${guest != null} ? ${guest.country}"/>
                </div>
                <div class="col">
                    <input th:id="state" th:name="state" type="text" class="form-control" placeholder="State"
                           maxlength="3" th:value="${guest != null} ? ${guest.state}"/>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <input
                            th:id="password"
                            th:name="password" type="password" class="form-control" placeholder="password"
                            required="required" maxlength="10"
                            th:value="${guest != null} ? ${guest.password}"/>
                </div>
                <div class="col">
                    <input
                            th:id="confirmPassword"
                            th:name="confirmPassword" type="password" class="form-control" placeholder="confirmPassword"
                            required="required" maxlength="10"/>
                </div>
            </div>
<!--            <div class="form-row">-->
<!--                <div class="col">-->
<!--                    <div class="form-row" id="myForm">-->
<!--                        <div class="g-recaptcha" data-expired-callback="capcha_expired"-->
<!--                             data-sitekey="6LdiZa4UAAAAAOC4_NbD16zNuPycvmrw7lOtqEbC"></div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
            <div class="form-row">
                <button type="submit" class="btn btn-primary">Submit</button>
                <button id="delete" class="btn btn-danger" type="button">Delete</button>
            </div>
        </form>
        <a th:href="@{/guests}">Return to All Guests</a>
    </div>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script th:src="@{/js/table.js}"></script>
</div>
</body>
</html>